body {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  background-color: rgba(209, 209, 209, 0.726);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#content {
  background-color: wheat;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0.35cm 0.3cm 1px rgb(150, 150, 150);
}

header {
  height: 70px;
  background-color: rgb(185, 185, 185);
  display: flex;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.icon {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

section {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: grey;
}

.topnav {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.topnav a {
  font-size: x-large;
  margin-left: 30px;
  border: 3px solid transparent;
}

.topnav a:hover {
  border: 3px solid white;
  border-radius: 10px;
  transform: scale(1.3);
}

.main_content {
  display: flex;
  width: 100%;
  height: 100%;
}

.article {
  width: 50%;
  margin-left: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

img:hover {
  transition: 0.2s;
  transform: scale(1.07);
}

.image {
  align-self: center;
  float: right;
  width: 40%;
  margin: 15px;
}
